@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

html, body {
    background: #f6f5f7;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    cursor: pointer;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #c13525;
}

button:active {
    transform: scale(0.95);
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

/* Estilos para el formulario */
form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1400px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    background-image: url('../../../../assets/images/toolix.webp');
}

.textContainer{
  transform: translateX(10px);
}

.introText {
  font-family: 'Montserrat', sans-serif; /* Usa una fuente bonita */
  font-size: 15px; /* Tamaño grande */
  font-weight: 600; /* Peso de la letra */
  line-height: 1.5; /* Espaciado entre líneas */
  color: #333; /* Color oscuro para legibilidad */
  text-align: center; /* Centrar el texto */
  margin: 20px 0; /* Espaciado superior e inferior */
  letter-spacing: 1px; /* Espacio entre letras */
}

.title {
  font-family: 'Montserrat', sans-serif; /* Fuente elegante */
  font-size: 3rem; /* Tamaño grande */
  font-weight: 700; /* Negrita */
  text-align: center; /* Centrar el texto */
  background-image: linear-gradient(to right, orange, #ff0000); /* Gradiente de claro a rojo */
  background-clip: text;
  -webkit-background-clip: text; /* Soporte para WebKit */
  color: transparent; /* Hace que solo el gradiente sea visible */
  display: inline-block; /* Para que el gradiente se aplique correctamente al texto */
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    min-height: 470px;
    width: 150%;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 80px;
    margin-top: 20px;
    transition: transform 0.6s ease-in-out;
}

/* Configuración de flexbox para los formularios */
.form-container {
    position: absolute;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease-in-out;
}

/* Estilo y transición para el contenedor de Sign In */
.sign-in-container {
    left: 0;
    z-index: 2;
}

/* Estilo y transición para el contenedor de Sign Up */
.sign-up-container {
    right: 0;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(6%);
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(4%);
    opacity: 1;
    z-index: 5;
    animation: show 0.4s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

/* Estilo para la superposición */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    border-radius: 10px;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-container a:hover {
    background-color: #FF4B2B;
    color: #FFFFFF;
    border-color: #FF4B2B;
}

.error {
    color: rgb(197, 18, 18);
    font-size: 12px;
}
