

<div class="wrapper">
  <!-- Contenedor principal con el ID `container` -->
  <div class="container" id="container">



      <!------------------------ FORMULARIO INICIAR SESION ------------------------------->
  <div class="form-container sign-in-container">
    <form [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
      <h1>Iniciar sesión</h1>

      <!-- -----ENTRAR CON FACEBOOK, GOOGLE Y LINKEDIN --------->
      <div class="social-container">
        <a routerLink="/inicio-page" class="social"><i class="fab fa-facebook-f"></i></a>
        <a routerLink="/inicio-page" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a routerLink="/inicio-page" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>

      <!----------- ENTRAR CON EMAIL Y CONTRASEÑA ------------->
      <span>O usa tu cuenta de Toolix</span>
      <input
      type="email"
      placeholder="Email"
      formControlName="email" />

      <input
      type="password"
      placeholder="Contraseña"
      formControlName="password" />

      <!--------------- OLVIDASTE CONTRASEÑA ------------------>
      <a routerLink="/olvidaste-contrasenia" class="go-to-olvidaste-contrasenia">¿Olvidaste tu contraseña?</a>


      <!----------- BOTON ------------->
      <button type="button" routerLink="/inicio-page">
        Iniciar sesión
    </button>

    </form>
  </div>

        <!---------------- FORMULARIO DE REGISTRO  --------->
  <div class="form-container sign-up-container">
    <!-- Formulario de registro usando Reactive Forms de Angular -->
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
      <!-- Título del formulario -->
      <h1>Crear una cuenta</h1>

      <!-- Iconos de redes sociales para registro -->
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>

      <!-- Texto que invita a usar el correo electrónico para el registro -->
      <span>O usa tu email para registrarte</span>

      <!------- NOMBRE ---------->
      <input
        type="text"
        placeholder="Nombre"
        formControlName="nombre"
      />
      <!-- Control de errores para el campo de nombre -->
      <div *ngIf="signUpForm.controls['nombre'].hasError('required') && signUpForm.controls['nombre'].touched" class="error">
        * Campo obligatorio.
      </div>

      <!------- CORREO ELECTRONICO ---------->
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      <!-- Control de ERRORES para el campo de correo electrónico -->
      <div *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched" class="error">
        * Campo obligatorio.
      </div>
      <div *ngIf="signUpForm.controls['email'].hasError('email') && signUpForm.controls['email'].touched" class="error">
        * El correo electrónico no es válido.
      </div>

      <!---------- CONTRASEÑA ------------>
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
      <!-- Control de ERRORES para el campo de contraseña -->
      <div *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password'].touched" class="error">
        * Campo obligatorio.
      </div>
      <div *ngIf="signUpForm.controls['password'].hasError('minlength') && signUpForm.controls['password'].touched" class="error">
        * La contraseña debe contener un mínimo de 7 caracteres.
      </div>

      <!------- BOTON ------->
      <button type="submit">Registrarse</button>

    </form>
  </div>



    <!------------------------ PANELES LATERALES ------------------------------->
    <!-- Contenedor principal de la superposición -->
  <div class="overlay-container">

    <!-- Contenedor de la superposición, que se moverá hacia la izquierda o derecha -->
    <div class="overlay">


        <!-- Panel (IZQUIERDO) de la superposición para la opción de INICIAR SESION -->
        <div class="overlay-panel overlay-left">
            <!-- Título del panel izquierdo -->
            <h1>Bienvenido!</h1>
            <!-- Descripción del panel izquierdo -->
            <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
            <!-- Botón para alternar al formulario de inicio de sesión -->

            <button class="ghost" (click)="toggleForms()">Iniciar sesión</button>
             <!-- (click)="toggleForms()" llama a una función en Angular para alternar la vista -->
        </div>


        <!-- Panel (DERECHO) de la superposición para la opción de REGISTRARTE -->
        <div class="overlay-panel overlay-right">
            <!-- Título del panel derecho -->
            <h1>Hola, Tooler!</h1>
            <p>Introduce tus datos personales y comienza tu viaje con nosotros.</p>
            <!-- Botón para alternar al formulario de registro -->

            <button class="ghost" (click)="toggleForms()">Registrarse</button>
            <!-- (click)="toggleForms()" llama a la misma función para alternar la vista -->
        </div>


  </div>
</div>
























<!-- <div class="wrapper">
  <div class="container" id="container">

    <div class="form-container sign-up-container">
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
        <h1>Crear una cuenta</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>O usa tu email para registrarte</span>

        <input type="text" placeholder="Nombre" formControlName="nombre" /> -->

        <!-- @if (signUpForm.controls["nombre"].getError('required') && signUpForm.controls["nombre"].touched) {
          <div class="error">
            * Campo obligatorio.
           </div>
        }

        <input type="email" placeholder="Email" formControlName="email" />

        @if (signUpForm.controls["email"].getError('required') && signUpForm.controls["email"].touched ){
          <div class="error">
            * Campo obligatorio.
           </div>
        }
        @if ( signUpForm.controls["email"].getError('email') && signUpForm.controls["email"].touched) {
          <div class="error">
            * El correo electrónico no es válido.
           </div>
        }

        <input type="password" placeholder="Contraseña" formControlName="password" />

        @if (signUpForm.controls["password"].getError('required') && signUpForm.controls["password"].touched) {
          <div class="error">
            * Campo obligatorio.
          </div>
        }
        @if (signUpForm.controls["password"].getError('minlength') && signUpForm.controls["password"].touched) {
          <div class="error">
            * La contraseña debe contener un mínimo de 7 caracteres.
          </div>
        }

        <button type="submit">Registrarse</button>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form [formGroup]="signInForm" (ngSubmit)="onSignInSubmit()">
        <h1>Iniciar sesión</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>o usa tu cuenta</span>
        <input type="email" placeholder="Email" formControlName="email" />
        <input type="password" placeholder="Contraseña" formControlName="password" />
        <a routerLink="olvidaste-contrasenia" class="go-to-olvidaste-contrasenia">¿Olvidaste tu contraseña?</a>

        <button type="submit">Iniciar sesión</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Bienvenido!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" (click)="toggleForms()">Iniciar sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hola, Tooler!</h1>
          <p>Introduce tus datos personales y comienza tu viaje con nosotros.</p>
          <button class="ghost" (click)="toggleForms()">Registrarse</button>
        </div>
      </div>
    </div>

  </div>
</div> -->
