
<app-navbar-private></app-navbar-private>

<div class="perfil-container">
  <div class="perfil-box">
    <div class="perfil-header">
      <img [src]="fotoUrl" alt="Foto de perfil" class="perfil-foto">
      <div class="perfil-info">
        <h2>{{ usuario?.nombre }}</h2>
        <p class="profesion">{{ usuario?.profesion }}</p>

        <div class="perfil-rating">
          <span> Valoracion:  </span>
          <span> {{ calcularPromedioValoracion() | number:'1.1-1' }}</span>
          <ng-container *ngFor="let star of stars">
            <span *ngIf="star === 1">&#9733;</span>       <!-- Estrella llena -->
            <span *ngIf="star === 0.5" class="media-estrella">&#9733;</span> <!-- Media estrella con efecto CSS -->
            <span *ngIf="star === 0">&#9734;</span>       <!-- Estrella vacía -->
          </ng-container>

       </div>

      </div>
    </div>

    <div class="perfil-detalles">
      <p><strong>Email:</strong> {{ usuario?.email }}</p>
      <!-- <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p> -->
      <p><strong>Disponibilidad:</strong> {{ usuario?.disponibilidad }}</p>
      <p><strong>Zonas de trabajo:</strong> {{ usuario?.zona }}</p>
      <p><strong>Descripción:</strong> {{ usuario?.descripcion }}</p>

      <button class="valoracion-btn" (click)="mostrarInput()">Agregar Valoración</button>

      <!-- Input y botón para enviar valoración, visibles cuando `mostrarValoracionInput` es true -->
      <div *ngIf="mostrarValoracionInput">
        <input
          type="number"
          [(ngModel)]="valoracion"
          placeholder="Ingrese su valoración (1-10)"
          (blur)="validarValoracion()"
          class="valoracion-input"
          min="1"
          max="10"
        />
        <button  (click)="cargarValoracionDB()" class="valoracion-btn">Cargar valoración</button>
      </div>

      <div class="botones">
        <button (click)="irAreservar(usuario?.id!)" >Reservar</button>
        <button [routerLink]="['/home', usuario?.id]">Atrás</button>
      </div>

    </div>
  </div>
</div>
