
<app-navbar-private></app-navbar-private>

<div class="perfil-container">
  <div class="perfil-box">
    <div class="perfil-header">
      <img [src]="usuario?.fotoPerfil" alt="Foto de perfil" class="profile-img">
      <div class="perfil-info">
        <h2>{{ usuario?.nombre }}</h2>

        @if(usuario?.rol === 'Trabajador')
          {
              <p class="profesion">{{ usuario?.profesion }}</p>

              <div class="perfil-rating">
                <p class="rating-title">Puntuación</p>
                <span class="rating-value">{{ calcularPromedioValoracion() | number:'1.1-1' }}</span>
                <div class="rating-stars">
                  <ng-container *ngFor="let star of stars">
                    <span *ngIf="star === 1">&#9733;</span>
                    <span *ngIf="star === 0.5">&#x272E;</span>
                    <span *ngIf="star === 0">&#9734;</span>
                  </ng-container>
                </div>
              </div>
          }

      </div>
    </div>

    <div class="perfil-detalles">
      <p><strong>Email:</strong> {{ usuario?.email }}</p>
      <p> <strong>Teléfono:</strong> {{ usuario?.telefono }}</p>

      @if(usuario?.rol === 'Trabajador'){
        <p><strong>Disponibilidad:</strong> {{ usuario?.disponibilidad }}</p>
        <p><strong>Zonas de trabajo:</strong> {{ usuario?.zona }}</p>
      }

      <p><strong>Descripción:</strong> {{ usuario?.descripcion }}</p>


      <div class="botones">
        @if(usuario?.rol === 'Trabajador'){
          <button (click)="irAreservar(usuario?.id!)" >Reservar</button>
        }

        @if (userRol === 'Admin') {
          <button [routerLink]="['/modificar', usuario?.id]">Modificar</button>
          <button [routerLink]="['/eliminar-cuenta', usuario?.id]">Eliminar cuenta</button>
        }

        <button [routerLink]="['/home', IdUsuarioLogeado]">Atrás</button>
      </div>

    </div>
  </div>
</div>
