<app-navbar-admin></app-navbar-admin>
<div class="perfil-container">
    <div class="perfil-box">
      <div class="perfil-header">
        <img [src]="fotoUrl" alt="Foto de perfil" class="perfil-foto">
        <div class="perfil-info">
          <h2>{{ usuario?.nombre }}</h2>
          <p class="profesion">{{ usuario?.profesion }}</p>
        </div>
      </div>

      <div class="perfil-detalles">
        <p><strong>Email:</strong> {{ usuario?.email }}</p>
        <!-- <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p> -->
        <!-- <p><strong>Disponibilidad:</strong> {{ usuario?.disponibilidad }}</p>
        <p><strong>Zonas de trabajo:</strong> {{ usuario?.zona }}</p>
        <p><strong>Descripción:</strong> {{ usuario?.descripcion }}</p> -->

        <div>
          <button [routerLink]="['/homeAdmin', usuario?.id]">Atrás</button>
        </div>

      </div>
    </div>
  </div>

