<app-navbar-private></app-navbar-private>

<div class="perfil-container">
  <div class="perfil-box">
    <div class="perfil-header">
      <img [src]="fotoUrl" alt="Foto de perfil" class="perfil-foto">
      <div class="perfil-info">
        <h2>{{ usuario?.nombre }}</h2>

        <!-- Detalles para Cliente -->
        <div class="perfil-detalles" *ngIf="usuario?.rol === 'Cliente'">
          <p><strong>Email:</strong> {{ usuario?.email }}</p>
          <p><strong>Teléfono:</strong> {{ usuario?.telefono }}</p>
          <p><strong>Descripcion:</strong> {{ usuario?.descripcion }}</p>
          <div>
            <button (click)="irAModificar(usuario?.id!)">Modificar datos</button>
            <button [routerLink]="['/eliminar-cuenta', usuario?.id]">Eliminar mi cuenta</button>
            <button [routerLink]="['/home', usuario?.id]">Atrás</button>
          </div>
        </div>

        <!-- Detalles para Admin -->
        <div class="perfil-detalles" *ngIf="usuario?.rol === 'Admin'">
          <p><strong>Email:</strong> {{ usuario?.email }}</p>
          <div>
            <button [routerLink]="['/home', usuario?.id]">Atrás</button>
          </div>
        </div>

        <!-- Detalles para otros roles -->
        <div class="perfil-detalles" *ngIf="usuario?.rol !== 'Cliente' && usuario?.rol !== 'Admin'">
          <p class="profesion">{{ usuario?.profesion }}</p>
          <div class="perfil-rating">
            <p class="rating-title">Puntuación</p>
            <span class="rating-value">{{ promedio | number: '1.1-1' }}</span>
            <div class="rating-stars">
              <ng-container *ngFor="let star of stars">
                <span *ngIf="star === 1">&#9733;</span>
                <span *ngIf="star === 0.5">&#x272E;</span>
                <span *ngIf="star === 0">&#9734;</span>
              </ng-container>
            </div>
          </div>
          <p><strong>Email:</strong> {{ usuario?.email }}</p>
          <p><strong>Teléfono:</strong> {{ usuario?.telefono }}</p>
          <p><strong>Disponibilidad:</strong> {{ usuario?.disponibilidad }}</p>
          <p><strong>Zona:</strong> {{ usuario?.zona }}</p>
          <p><strong>Descripción:</strong> {{ usuario?.descripcion }}</p>
          <div>
            <button (click)="irAModificar(usuario?.id!)">Modificar datos</button>
            <button [routerLink]="['/eliminar-cuenta', usuario?.id]">Eliminar mi cuenta</button>
            <button [routerLink]="['/home', usuario?.id]">Atrás</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
