<nav class="navbar">
    <div class="logo">
      <a routerLink="/home">
        <img [src]="logoUrl" alt="logo">
        <span>Toolix</span>
      </a>
    </div>

    <div class="nav-items">
      <a (click)="irAHome()">Inicio</a>
      <a routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
      <a routerLink="/nosotros">Nosotros</a>
    </div>

    <!-- Notificaciones -->
  <<!-- Íconos de perfil y notificaciones -->
  <div class="nav-icons">
    <a routerLink="/notificaciones" class="icon-link">
      <i class="fas fa-bell"></i>
    </a>

    <!-- Menú de perfil con eventos de hover -->
    <div class="dropdown">
      <a class="icon-link">
        <i class="fas fa-user"></i>
      </a>
      <div class="dropdown-menu">
        <a (click)="irADetalles()">Ver perfil</a>
        <a (click)="onLogout()">Cerrar sesión</a>
      </div>
    </div>
  </div>

  </nav>
