
.eliminar-container {
    display: flex; /* Usa Flexbox para organizar los elementos hijos */
    flex-direction: column; /* Coloca los elementos hijos en una columna */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos verticalmente */
    width: 100vw; /* Hace que el ancho ocupe el 100% del viewport */
    flex-grow: 1; /* Permite que este contenedor crezca si es necesario */
    background-color: #FFFFFF; /* Fondo color gris claro */
    font-family: 'Montserrat', sans-serif; /* Aplica la fuente Montserrat */
    box-sizing: border-box; /* Incluye el padding y borde dentro del ancho/alto */
    margin: 0; /* Elimina el margen externo */
    padding: 20px; /* Agrega 20px de espacio alrededor del contenido */
  }

  .eliminar-box {
    border: 3px solid #FF416C; /* Borde de 3px color rosado oscuro */
    padding: 20px; /* Espacio interno de 20px */
    border-radius: 8px; /* Esquinas redondeadas de 8px */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del cuadro */
    background-color: #f8f9fb; /* Fondo blanco */
    max-width: 600px; /* Ancho máximo de 600px */
    width: 100%; /* Ancho completo disponible del contenedor */
    box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
  }
  .si-button, .no-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Estilo del botón de confirmación */
  .si-button {
    background-color: #28a745; /* Verde */
    color: #fff;
  }

  .si-button:hover {
    background-color: #218838;
  }

  /* Estilo del botón de cancelación */
  .no-button {
    background-color: #dc3545; /* Rojo */
    color: #fff;
  }

  .no-button:hover {
    background-color: #c82333;
  }
