<app-navbar-admin></app-navbar-admin>

<div class="container">
    <h2 class="section-title">Conoce a Nuestro Equipo</h2>
  
    <div class="team-cards">
      <!-- Tarjeta 1 -->
      <div class="card">
        <div class="image-container">
          <img [src]="avatarHombre"
               alt="Martin Ibañez Corsalini"
               class="card-img"
               loading="lazy">
        </div>
        <h3>Martin Ibañez Corsalini</h3>
        <p>Estudiante Tecnicatura en Programación.</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/martin-ibañez" target="_blank" class="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/MartinCorsalini" target="_blank" class="github">
            <i class="fab fa-github"></i>
          </a>
  </div>
      </div>
  
      <!-- Tarjeta 2 -->
      <div class="card">
        <div class="image-container">
          <img [src]="avatarMujer"
               alt="Victoria Micaela Prieto"
               class="card-img"
               loading="lazy">
        </div>
        <h3>Victoria Micaela Prieto</h3>
        <p>Estudiante Tecnicatura en Programación.</p>
        <div class="social-links">
          <a href="" target="_blank" class="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" target="_blank" class="github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
  
      <!-- Tarjeta 3 -->
      <div class="card">
        <div class="image-container">
          <img [src]="avatarMujer"
               alt="Abril Paez"
               class="card-img"
               loading="lazy">
        </div>
        <h3>Abril Paez</h3>
        <p>Estudiante Tecnicatura en Programación.</p>
        <div class="social-links">
          <a href="" target="_blank" class="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" target="_blank" class="github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
  
      <!-- Tarjeta 4 -->
      <div class="card">
        <div class="image-container">
          <img [src]="avatarHombre"
               alt="Leandro Ver"
               class="card-img"
               loading="lazy">
        </div>
        <h3>Leandro Ver</h3>
        <p>Estudiante Tecnicatura en Programación.</p>
        <div class="social-links">
          <a href="" target="_blank" class="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" target="_blank" class="github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
  
      <!-- Tarjeta 5 -->
      <div class="card">
        <div class="image-container">
          <img [src]="avatarHombre"
               alt="Juan Ignacio Sasserolli"
               class="card-img"
               loading="lazy">
        </div>
        <h3>Juan Ignacio Sasserolli</h3>
        <p>Estudiante Tecnicatura en Programación.</p>
        <div class="social-links">
          <a href="" target="_blank" class="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" target="_blank" class="github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  