
<app-navbar-private></app-navbar-private>

<div class="perfil-container">
  <div class="perfil-box">
    <div class="perfil-header">
      <img [src]="fotoUrl" alt="Foto de perfil" class="perfil-foto">
      <div class="perfil-info">
        <h2>{{ usuario?.nombre }}</h2>
        <p class="profesion">{{ usuario?.profesion }}</p>
      </div>
    </div>

   <!-------------------- FORMULARIO ---------------------->
    <div class="perfil-detalles">
      <form [formGroup]="formulario" (ngSubmit)="actualizar()">

           <!--------- Nombre ---------->
        <div>
          <label for="nombre">Nombre: </label>
          <input type="text" formControlName="nombre" id="nombre">

          @if(formulario.controls['nombre'].getError('required') && formulario.controls['nombre'].touched)
          {
              <div class="colorRojo">Campo requerido...</div>
          }
        </div>
          <!--------- Profesion ---------->

          @if(usuario?.rol != 'Cliente')
          {
            <div>
              <label for="profesion">Profesion:</label>
              <select class="select1" type="text" id="profesion" formControlName="profesion">
                <option value="">Seleccione una opción</option>
                <option>Abogado/a</option>
                <option>Albañil</option>
                <option>Carpintero/a</option>
                <option>Centro de estetica</option>
                <option>Contador/a</option>
                <option>Costurero/a</option>
                <option>Electricista</option>
                <option>Gasista</option>
                <option>Limpieza</option>
                <option>Niñero/a</option>
                <option>Paseador/a de perros</option>
                <option>Peluquero/a</option>
                <option>Pintor/a</option>
                <option>Plomero/a</option>
                <option>Psicologo/a</option>
                <option>Tapicero/a</option>
                <option>Techista</option>
                <option>Uñas</option>
                <option>Otro (aclarar en descripcion)</option>
              </select>

              @if(formulario.controls['profesion'].getError('required') && formulario.controls['profesion'].touched)
              {
                  <div class="colorRojo">Campo requerido...</div>
              }
            </div>
          }



        <!--------- Disponibilidad ---------->

        @if(usuario?.rol != 'Cliente')
          {
            <div>
              <label for="disponibilidad">Disponibilidad: </label>
              <input type="text" formControlName="disponibilidad" id="disponibilidad">

              @if(formulario.controls['disponibilidad'].getError('required') && formulario.controls['disponibilidad'].touched)
              {
                  <div class="colorRojo">Campo requerido...</div>
              }
            </div>
            }


        <!--------- Telefono ---------->
        <div>
          <label for="telefono">Telefono: </label>
          <input type="text" formControlName="telefono" id="telefono">

          @if(formulario.controls['telefono'].getError('required') && formulario.controls['telefono'].touched)
          {
              <div class="colorRojo">Campo requerido...</div>
          }
        </div>


        <!--------- Zona ---------->
        <div>
          <label for="zona">Zona: </label>
          <input type="text" formControlName="zona" id="zona">

          @if(formulario.controls['zona'].getError('required') && formulario.controls['zona'].touched)
          {
              <div class="colorRojo">Campo requerido...</div>
          }
        </div>

        <!------- Descripcion -------->
        <div>
          <label for="descripcion">Descripcion: </label>
          <input type="text" formControlName="descripcion" id="descripcion">
        </div>

        <button type="submit">Modificar datos</button>
        <button [routerLink]="['/perfil-propio', usuario?.id]">Atrás</button>

      </form>
    </div>
  </div>
</div>
