<app-navbar-private></app-navbar-private>
<div class="center-container">
   <h2 class="title">Notificaciones</h2> 
  </div>

  <div class="center-container">
    <h2 class="titulos">Reservas recibidas</h2>
   </div>

  <div class="center-container">     
        
    <div class="container">
        <div class="header">
            
        </div>
        <ul class="notification-list">
            <li class="notification-item">
                <p>Dirección:   </p>
                <p>Fecha: <span></span></p>
                <p>Horario: <span></span></p>
                <div class="actions">
                    <button class="accept-btn">Aceptar</button>
                    <button class="reject-btn">Rechazar</button>
                </div>
            </li>
            
        </ul>
    </div>
   </div>


<!----->


<div class="center-container">
    <h2 class="titulos">Reservas enviadas</h2>
   </div>
   <div class="center-container">
    <div class="container">
        <div class="header"></div>
        <ul class="notification-list">
            <li class="notification-item" *ngFor = "let reserva of reservasEnviadas">
                <p>Dirección: {{ reserva.direccion }}</p>
                <p>Fecha: <span>{{ reserva.fecha }}</span></p>
                <p>Horario: <span>{{ reserva.horario }}</span></p>
                <div class="actions">

                    <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>

                    <button (click)="eliminarReserva(reserva.id)" class="reject-btn">Eliminar</button>
                </div>
            </li>
        </ul>
    </div>
   </div>


