<app-navbar-private></app-navbar-private>



<div class="nav-icons">
  <!--------------------------------- SI NO ES ADMIN -------------------------------------->
    @if(userRol !== 'Admin')
    {
      <div class="center-container">
        <h2 class="title">Notificaciones</h2>
      </div>

      <!------------ Reservas RECIBIDAS (solo si el usuario es trabajador) ------------>

      <div *ngIf="esTrabajador" class="center-container">
        <h2 class="titulos">Reservas recibidas</h2>
      </div>

      <div *ngIf="esTrabajador" class="center-container">

          <div class="container">
            <!-- Si no hay reservas recibidas, muestra el mensaje correspondiente -->
            <div *ngIf="reservasRecibidas.length === 0; else reservasRecibidasList">
              <p>Aún no tienes reservas recibidas.</p>
            </div>
            <!-- Si hay reservas, las muestra en una lista -->

            <ng-template #reservasRecibidasList>
              <ul class="notification-list">

                <li class="notification-item" *ngFor="let reserva of reservasRecibidas">

                      <div class="reservation-details">
                        <div class="reservation-field">
                          <span class="field-label">Dirección</span>
                          <span class="field-value">{{ reserva.direccion }}</span>
                        </div>
                        <div class="reservation-field">
                          <span class="field-label">Fecha</span>
                          <span class="field-value">{{ reserva.fecha }}</span>
                        </div>
                        <div class="reservation-field">
                          <span class="field-label">Horario</span>
                          <span class="field-value">{{ reserva.horario }}</span>
                        </div>
                        <div class="reservation-field">
                          <span class="field-label">Cliente</span>
                          <span class="field-value">{{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}</span>
                        </div>
                        <div class="reservation-field">
                          <span class="field-label">Trabajador</span>
                          <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}</span>
                        </div>
                      </div>
                      <div class="actions">
                        <!-- Mostrar botones solo si la reserva está pendiente -->
                        <ng-container *ngIf="reserva.estado === 'pendiente'; else estadoMensaje">
                          <button class="accept-btn" (click)="aceptarReserva(reserva)">Aceptar</button>
                          <button class="reject-btn" (click)="rechazarReserva(reserva)">Rechazar</button>
                        </ng-container>

                        <!-- Mensaje de estado cuando no está en pendiente -->
                        <ng-template #estadoMensaje>
                          <span class="estado-mensaje {{ reserva.estado }}">{{ reserva.estado | titlecase }}</span>
                        </ng-template>
                      </div>

                      <!------------------- AGREGRADO--------------->
                      <div class="actions">
                        <!-- Mostrar botones solo si la reserva está aceptada -->
                        <ng-container *ngIf="reserva.estado === 'aceptada'; else estadoMensaje">
                          <button class="accept-btn" (click)="finalizarReserva(reserva)">Finalizar</button>
                        </ng-container>

                        <!-- Mensaje de estado cuando no está en aceptada -->
                        <ng-template #estadoMensaje>
                          <span class="estado-mensaje {{ reserva.estado }}">{{ reserva.estado | titlecase }}</span>
                        </ng-template>
                      </div>
                </li>

              </ul>
            </ng-template>
          </div>
      </div>



      <!------------------ Reservas Enviadas ----------------------->
      <div class="center-container">
        <h2 class="titulos">Reservas enviadas</h2>
      </div>

      <div class="center-container">
        <div class="container">
          <!-- Si no hay reservas enviadas, muestra el mensaje correspondiente -->
          <div *ngIf="reservasEnviadas.length === 0; else reservasEnviadasList">
            <p>Aún no tienes reservas enviadas.</p>
          </div>
          <!-- Si hay reservas, las muestra en una lista -->
          <ng-template #reservasEnviadasList>
            <ul class="notification-list">
              <li class="notification-item" *ngFor="let reserva of reservasEnviadas">
                <div class="reservation-details">
                  <div class="reservation-field">
                    <span class="field-label">Dirección</span>
                    <span class="field-value">{{ reserva.direccion }}</span>
                  </div>
                  <div class="reservation-field">
                    <span class="field-label">Fecha</span>
                    <span class="field-value">{{ reserva.fecha }}</span>
                  </div>
                  <div class="reservation-field">
                    <span class="field-label">Horario</span>
                    <span class="field-value">{{ reserva.horario }}</span>
                  </div>
                  <div class="reservation-field">
                    <span class="field-label">Estado</span>
                    <span class="field-value">{{ reserva.estado }}</span>
                  </div>
                  <div class="reservation-field">
                    <span class="field-label">Cliente</span>
                    <span class="field-value">{{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}</span>
                  </div>
                  <div class="reservation-field">
                    <span class="field-label">Trabajador</span>
                    <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}</span>
                  </div>
                </div>

                <!--------------------AGREGADOOO--------------------->
                <div class="actions">
                  <!-- Mostrar botón "Calificar" si el estado es 'finalizada' -->
                  <ng-container *ngIf="reserva.estado === 'finalizada'; else botonesModificarEliminar">
                    <button class="accept-btn" (click)="abrirDialogoCalificacion(reserva)">Calificar</button>
                  </ng-container>

                  <!-- Mostrar botones "Modificar" y "Eliminar" solo si no está 'finalizada' -->
                  <ng-template #botonesModificarEliminar>
                    <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>
                    <button (click)="eliminarReserva(reserva.id)" class="reject-btn">Eliminar</button>
                  </ng-template>
                </div>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
   }
   <!---------------------------- SI ES ADMIN ---------------------------->
   @else {
    <div class="center-container">
      <h2 class="title">Reservas</h2>
    </div>

    <div class="center-container">
      <div class="container">
        <div class="header"></div>
        <ul class="notification-list">

          <li class="notification-item" *ngFor="let reserva of reservas">

            <div class="reservation-details">
              <div class="reservation-field">
                <span class="field-label">Dirección</span>
                <span class="field-value">{{ reserva.direccion }}</span>
              </div>
              <div class="reservation-field">
                <span class="field-label">Fecha</span>
                <span class="field-value">{{ reserva.fecha }}</span>
              </div>
              <div class="reservation-field">
                <span class="field-label">Horario</span>
                <span class="field-value">{{ reserva.horario }}</span>
              </div>
              <div class="reservation-field">
                <span class="field-label">Reserva ID</span>
                <span class="field-value">{{ reserva.id }}</span>
              </div>

              <!--
              <div class="reservation-field">
                <span class="field-label">Cliente</span>
                <span class="field-value">{{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}</span>
              </div>
              <div class="reservation-field">
                <span class="field-label">Trabajador</span>
                <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}</span>
              </div>
               -->


            </div>
            <div class="actions">
              <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>
              <button (click)="eliminarReserva(reserva.id)" class="reject-btn">Eliminar</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
   }
  </div>
