  <app-navbar-private></app-navbar-private>


  <div class="nav-icons">
    <!--------------------------------- SI NO ES ADMIN -------------------------------------->
      @if(userRol !== 'Admin')
      {
        <div class="center-container">
          <h2 class="title">Notificaciones</h2>
        </div>

        <!------------ Reservas RECIBIDAS (solo si el usuario es trabajador) ------------>

        <div *ngIf="esTrabajador" class="center-container">
          <h2 class="titulos">Reservas recibidas</h2>
        </div>

        <div *ngIf="esTrabajador" class="center-container">

            <div class="container">
              <!-- Si no hay reservas recibidas, muestra el mensaje correspondiente -->
              <div *ngIf="reservasRecibidas.length === 0; else reservasRecibidasList">
                <p>Aún no tienes reservas recibidas.</p>
              </div>
              <!-- Si hay reservas, las muestra en una lista -->

              <ng-template #reservasRecibidasList>
                <ul class="notification-list">

                  <li class="notification-item" *ngFor="let reserva of reservasRecibidas">

                        <div class="reservation-details">
                          <div class="reservation-field">
                            <span class="field-label">Dirección</span>
                            <span class="field-value">{{ reserva.direccion }}</span>
                          </div>
                          <div class="reservation-details">
                            <div class="reservation-field">
                              <span class="field-label">Problema</span>
                              <span class="field-value">{{ reserva.descProblema }}</span>
                            </div>
                          </div>
                          <div class="reservation-field">
                            <span class="field-label">Fecha</span>
                            <span class="field-value">{{ reserva.fecha }}</span>
                          </div>
                          <div class="reservation-field">
                            <span class="field-label">Horario</span>
                            <span class="field-value">{{ reserva.horario }}</span>
                          </div>
                          <div class="reservation-field">
                            <span class="field-label">Cliente</span>
                            <span class="field-value">{{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}
                              <button class="view-profile-btn" *ngIf="reserva.idUs" (click)="irAlPerfil(reserva.idUs)">
                                Ver Perfil
                              </button>
                            </span>
                          </div>
                          <!-- <div class="reservation-field">
                            <span class="field-label">Trabajador</span>
                            <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}</span>
                          </div> -->
                        </div>
                        <div class="actions">
                          <!-- Mostrar botones solo si la reserva está pendiente -->
                          <ng-container *ngIf="reserva.estado === 'pendiente'; else estadoMensaje">
                            <button class="accept-btn" (click)="aceptarReserva(reserva)">Aceptar</button>
                            <button class="reject-btn" (click)="rechazarReserva(reserva)">Rechazar</button>
                          </ng-container>

                          <!-- Mensaje de estado cuando no está en pendiente -->
                          <ng-template #estadoMensaje>
                            <span class="estado-mensaje {{ reserva.estado }}">{{ reserva.estado | titlecase }}</span>
                          </ng-template>
                        </div>

                        <!------------------- AGREGRADO--------------->
                        <div class="actions">
                          <!-- Mostrar botones solo si la reserva está aceptada -->
                          <ng-container *ngIf="reserva.estado === 'aceptada'; else estadoMensaje">
                            <button class="accept-btn" (click)="finalizarReserva(reserva)">Finalizar</button>
                          </ng-container>

                          <!-- Mensaje de estado cuando no está en aceptada -->
                          <ng-template #estadoMensaje>
                            <span class="estado-mensaje {{ reserva.estado }}">{{ reserva.estado | titlecase }}</span>
                          </ng-template>
                        </div>
                  </li>

                </ul>
              </ng-template>
            </div>
        </div>



        <!------------------ Reservas Enviadas ----------------------->
        <div class="center-container">
          <h2 class="titulos">Reservas enviadas</h2>
        </div>

        <div class="center-container">
          <div class="container">
            <!-- Si no hay reservas enviadas, muestra el mensaje correspondiente -->
            <div *ngIf="reservasEnviadas.length === 0; else reservasEnviadasList">
              <p>Aún no tienes reservas enviadas.</p>
            </div>
            <!-- Si hay reservas, las muestra en una lista -->
            <ng-template #reservasEnviadasList>
              <ul class="notification-list">
                <li class="notification-item" *ngFor="let reserva of reservasEnviadas">
                  <div class="reservation-details">
                    <div class="reservation-field">
                      <span class="field-label">Dirección</span>
                      <span class="field-value">{{ reserva.direccion }}</span>
                    </div>
                    <div class="reservation-details">
                      <div class="reservation-field">
                        <span class="field-label">Problema</span>
                        <span class="field-value">{{ reserva.descProblema }}</span>
                      </div>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Fecha</span>
                      <span class="field-value">{{ reserva.fecha }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Horario</span>
                      <span class="field-value">{{ reserva.horario }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Estado</span>
                      <span class="field-value">{{ reserva.estado }}</span>
                    </div>
                    <!-- <div class="reservation-field">
                      <span class="field-label">Cliente</span>
                      <span class="field-value">{{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}</span>
                    </div> -->
                    <div class="reservation-field">
                      <span class="field-label">Trabajador</span>
                      <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}
                        <button class="view-profile-btn" *ngIf="reserva.idTr" (click)="irAlPerfil(reserva.idTr)">
                          Ver Perfil
                        </button>
                      </span>
                    </div>
                  </div>

                  <!--------------------AGREGADOOO--------------------->
                  <!-- ACÁ TENDRIA QUE ESTAR EL IF. GUARDA QUE QUE ABAJO TIENE OTRO IF Y UN ELSE DENTRO.  -->
                  <div class="actions">
                    <!-- Mostrar el botón "Calificar" si la reserva está finalizada y no calificada -->
                    <ng-container *ngIf="reserva.estado === 'finalizada' && !reserva.calificada; else botonesModificarEliminar">
                      <button class="accept-btn" (click)="abrirDialogoCalificacion(reserva)">Calificar</button>
                    </ng-container>

                    <!-- Mostrar el badge "Reserva calificada" si la reserva está finalizada y calificada -->
                    <ng-container *ngIf="reserva.estado === 'finalizada' && reserva.calificada">
                      <span class="calificada-badge">Reserva calificada</span>
                    </ng-container>

                    <!-- Mostrar el badge "Reserva rechazada" si la reserva está rechazada -->
                    <ng-container *ngIf="reserva.estado === 'rechazada'">
                      <span class="rechazada-badge">Reserva rechazada</span>
                    </ng-container>

                    <!-- Mostrar los botones "Modificar" y "Eliminar" solo si la reserva no está finalizada -->
                    <ng-template #botonesModificarEliminar>
                      <ng-container *ngIf="reserva.estado !== 'finalizada' && reserva.estado !== 'rechazada'">
                        <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>
                        <button (click)="eliminarReserva(reserva.id!)" class="reject-btn">Eliminar</button>
                      </ng-container>
                    </ng-template>
                  </div>

                </li>
              </ul>
            </ng-template>
          </div>
        </div>
    }
    <!---------------------------- SI ES ADMIN ---------------------------->
    @else {
      <div class="center-container">
        <h2 class="title">Reservas</h2>
      </div>

      <div class="center-container">
        <div class="container">
          <div class="header"></div>
          <ul class="notification-list">

            <li class="notification-item" *ngFor="let reserva of reservas">

              <div class="reservation-details">
                <div class="reservation-field">
                  <span class="field-label">Dirección</span>
                  <span class="field-value">{{ reserva.direccion }}</span>
                </div>
                <div class="reservation-details">
                  <div class="reservation-field">
                    <span class="field-label">Problema</span>
                    <span class="field-value">{{ reserva.descProblema }}</span>
                  </div>
                </div>
                <div class="reservation-field">
                  <span class="field-label">Fecha</span>
                  <span class="field-value">{{ reserva.fecha }}</span>
                </div>
                <div class="reservation-field">
                  <span class="field-label">Horario</span>
                  <span class="field-value">{{ reserva.horario }}</span>
                </div>
                <div class="reservation-field">
                  <span class="field-label">Reserva ID</span>
                  <span class="field-value">{{ reserva.id }}</span>
                </div>

                <div class="reservation-field">
                  <span class="field-label">Cliente</span>
                  <span class="field-value">{{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}
                    <button class="view-profile-btn" *ngIf="reserva.idUs" (click)="irAlPerfil(reserva.idUs)">
                      Ver Perfil
                    </button>
                  </span>
                </div>
                <div class="reservation-field">
                  <span class="field-label">Trabajador</span>
                  <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}
                    <button class="view-profile-btn" *ngIf="reserva.idTr" (click)="irAlPerfil(reserva.idTr)">
                      Ver Perfil
                    </button>
                  </span>
                </div>
                
                  <!--------------------AGREGADOOO--------------------->
                  <!-- ACÁ TENDRIA QUE ESTAR EL IF. GUARDA QUE QUE ABAJO TIENE OTRO IF Y UN ELSE DENTRO.  -->
                  <div class="actions">
                    <!-- Mostrar el botón "Calificar" si la reserva está finalizada y no calificada -->
                    <ng-container *ngIf="reserva.estado === 'finalizada' && !reserva.calificada; else botonesModificarEliminar">
                      <button class="accept-btn" (click)="abrirDialogoCalificacion(reserva)">Calificar</button>
                    </ng-container>

                    <!-- Mostrar el badge "Reserva calificada" si la reserva está finalizada y calificada -->
                    <ng-container *ngIf="reserva.estado === 'finalizada' && reserva.calificada">
                      <span class="calificada-badge">Reserva calificada</span>
                    </ng-container>

                    <!-- Mostrar el badge "Reserva rechazada" si la reserva está rechazada -->
                    <ng-container *ngIf="reserva.estado === 'rechazada'">
                      <span class="rechazada-badge">Reserva rechazada</span>
                    </ng-container>

                    <!-- Mostrar los botones "Modificar" y "Eliminar" solo si la reserva no está finalizada -->
                    <ng-template #botonesModificarEliminar>
                      <ng-container *ngIf="reserva.estado !== 'finalizada' && reserva.estado !== 'rechazada'">
                        <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>
                        <button (click)="eliminarReserva(reserva.id!)" class="reject-btn">Eliminar</button>
                      </ng-container>
                    </ng-template>
                  </div>  
              </div>           
          </ul>
        </div>
      </div>
    }
 </div>


    <!-- Pop-up de Calificación -->
    @if(!reservaSeleccionada?.calificada)
    {
      <!-- Popup de Calificación -->
<div class="popup-overlay" *ngIf="mostrarPopup">
  <div class="popup-dialog">
    <h2 class="dialog-title">Calificar Reserva</h2>
    <form [formGroup]="calificacionForm" (ngSubmit)="enviarCalificacion()">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Calificación (1 a 10)</mat-label>
        <input matInput
               type="number"
               formControlName="calificacion"
               min="1"
               max="10" />
        <mat-error *ngIf="calificacionForm.get('calificacion')?.hasError('required')">
          La calificación es requerida
        </mat-error>
        <mat-error *ngIf="calificacionForm.get('calificacion')?.hasError('min') || calificacionForm.get('calificacion')?.hasError('max')">
          La calificación debe estar entre 1 y 10
        </mat-error>
      </mat-form-field>

      <div class="dialog-actions">
        <button type="button"
                class="cancel-button"
                (click)="cerrarPopup()">
          Cancelar
        </button>
        <button type="submit"
                class="submit-button"
                [disabled]="calificacionForm.invalid">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
}
