  <app-navbar-private></app-navbar-private>


  <div class="nav-icons">
    <!--------------------------------- SI NO ES ADMIN -------------------------------------->
      @if(userRol !== 'Admin')
      {
        <div class="center-container">
          <h2 class="title">Notificaciones</h2>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------ ROL TRABAJADOR ----------------------------------------------------------------->

        <!--------------------- Reservas RECIBIDAS -------------------->


        <div class="center-container">
          <select
            class="form-control estado-filtro"
            (change)="onEstadoChange($event)"
          >
            <option *ngFor="let estado of estadosReserva" [value]="estado">
              {{ estado | titlecase }}
            </option>
          </select>
        </div>


        @if (esTrabajador) {
          <!-------- FILTRAR POR ESTADO --------->



          <div class="center-container">

            <div class="container">
              <h2>Reservas Recibidas</h2>
              @if (getFiltrarReservasRecibidas().length === 0) {
                <p>No hay reservas con el estado seleccionado.</p>
              } @else
              {
                <ul class="notification-list">
                  @for (reserva of getFiltrarReservasRecibidas(); track reserva.id) {

                    <li class="notification-item">
                      <div class="reservation-details">
                        <div class="reservation-field">
                          <span class="field-label">Dirección</span>
                          <span class="field-value">{{ reserva.direccion }}</span>
                        </div>

                        <div class="reservation-field">
                          <span class="field-label">Problema:</span>
                          <span class="field-value">{{ reserva.descProblema }}</span>
                        </div>

                        <div class="reservation-field">
                          <span class="field-label">Fecha</span>
                          <span class="field-value">{{reserva.fecha | date:'dd/MM/yyyy'}}</span>
                        </div>

                        <div class="reservation-field">
                          <span class="field-label">Horario</span>
                          <span class="field-value">{{ reserva.horario }}</span>
                        </div>

                        <div class="reservation-field">
                          <span class="field-label">Estado</span>
                          <span class="field-value">{{ reserva.estado }}</span>
                        </div>

                        <div class="reservation-field">
                          <span class="field-label">Cliente</span>
                          <span class="field-value">
                            {{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}
                            @if (reserva.idUs) {
                              <button class="view-profile-btn" (click)="irAlPerfil(reserva.idUs)">
                                Ver Perfil
                              </button>
                            }
                          </span>
                        </div>
                      </div>

                      <div class="actions">
                        @if (reserva.estado === 'pendiente') {
                          <button class="accept-btn" (click)="aceptarReserva(reserva)">Aceptar</button>
                          <button class="reject-btn" (click)="rechazarReserva(reserva)">Rechazar</button>
                        }

                        @if (reserva.estado === 'aceptada') {
                          <button class="accept-btn" (click)="finalizarReserva(reserva)">Finalizar</button>
                        }

                        @if (!['pendiente', 'aceptada'].includes(reserva.estado)) {
                          <span class="estado-mensaje {{ reserva.estado }}">
                            {{ reserva.estado | titlecase }}
                          </span>
                        }
                      </div>
                    </li>
                  }
                </ul>
              }


            </div>
          </div>
        }


        <!------------------------------------------------------------------------------------------------------------------------------>
        <!------------------------------------------------ ROL CLIENTE Y TRABAJADOR ----------------------------------------------------------------->
        <!--------------------------------- RESERVAS ENVIADAS ----------------------------------->


        <!--------------- ESTADO  ------------>

        <div class="center-container">
          <div class="container">
            <h2>Reservas Enviadas</h2>
            <!-- Si no hay reservas enviadas filtradas, muestra el mensaje correspondiente -->
            <div *ngIf="getFiltrarReservasEnviadas().length === 0; else reservasEnviadasList">
              <p>No hay reservas con el estado seleccionado.</p>
            </div>
          <!--------------------------------->


            <!-- Si hay reservas, las muestra en una lista -->
            <ng-template #reservasEnviadasList>

              <ul class="notification-list">
                <li class="notification-item" *ngFor="let reserva of reservasEnviadasFiltradas">
                  <div class="reservation-details">

                    <div class="reservation-field">
                      <span class="field-label">Dirección</span>
                      <span class="field-value">{{ reserva.direccion }}</span>
                    </div>

                      <div class="reservation-field">
                        <span class="field-label">Problema:</span>
                        <span class="field-value">{{ reserva.descProblema }}</span>
                      </div>

                    <div class="reservation-field">
                      <span class="field-label">Fecha</span>
                      <span class="field-value">{{ reserva.fecha | date:'dd/MM/yyyy' }}</span>
                    </div>

                    <div class="reservation-field">
                      <span class="field-label">Horario</span>
                      <span class="field-value">{{ reserva.horario }}</span>
                    </div>

                    <div class="reservation-field">
                      <span class="field-label">Estado</span>
                      <span class="field-value">{{ reserva.estado }}</span>
                    </div>

                    <div class="reservation-field">
                      <span class="field-label">Trabajador</span>
                      <span class="field-value">{{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}
                        <button class="view-profile-btn" *ngIf="reserva.idTr" (click)="irAlPerfil(reserva.idTr)">
                          Ver Perfil
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- ACÁ TENDRIA QUE ESTAR EL IF. GUARDA QUE QUE ABAJO TIENE OTRO IF Y UN ELSE DENTRO.  -->
                  <div class="actions">
                    <!-- Mostrar el botón "Calificar" si la reserva está finalizada y no calificada -->
                    <ng-container *ngIf="reserva.estado === 'finalizada' && !reserva.calificada; else botonesModificarEliminar">
                      <button class="accept-btn" (click)="abrirDialogoCalificacion(reserva)">Calificar</button>
                    </ng-container>

                    <!-- Mostrar el badge "Reserva calificada" si la reserva está finalizada y calificada -->
                    <ng-container *ngIf="reserva.estado === 'finalizada' && reserva.calificada">
                      <span class="calificada-badge">Reserva calificada</span>
                    </ng-container>

                    <!-- Mostrar el badge "Reserva rechazada" si la reserva está rechazada -->
                    <ng-container *ngIf="reserva.estado === 'rechazada'">
                      <span class="rechazada-badge">Reserva rechazada</span>
                    </ng-container>

                    <ng-container *ngIf="reserva.estado === 'aceptada'">
                      <span class="calificada-badge">Reserva aceptada</span>
                    </ng-container>

                    <!-- Mostrar los botones "Modificar" y "Eliminar" solo si la reserva no está finalizada -->
                    <ng-template #botonesModificarEliminar>
                      <ng-container *ngIf="reserva.estado === 'pendiente'">
                        <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>
                        <button (click)="eliminarReserva(reserva.id!)" class="reject-btn">Eliminar</button>
                      </ng-container>
                    </ng-template>
                  </div>

                </li>
              </ul>
            </ng-template>
          </div>
        </div>




    }



    <!------------------------------------------------ ROL ADMIN ----------------------------------------------------------------->
    @else {
        <!-- Dropdown de filtrado para reservas de admin -->
        <div class="center-container">
          <select class="form-control estado-filtro" (change)="filtrarPorEstadoAdmin($event)">
            <option *ngFor="let estado of estadosReserva" [value]="estado">
              {{ estado | titlecase }}
            </option>
          </select>
        </div>


      <div class="center-container">
        <h2 class="title">Reservas</h2>
      </div>

      <div class="center-container">
        <div class="container">
          <ul class="notification-list">
            <h2>Todas las Reservas</h2>

            @if (reservasAdminFiltradas.length > 0) {
              @for (reserva of reservasAdminFiltradas; track reserva.id ) {
                <li class="notification-item">
                  <div class="reservation-details">
                    <div class="reservation-field">
                      <span class="field-label">Dirección</span>
                      <span class="field-value">{{ reserva.direccion }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Problema:</span>
                      <span class="field-value">{{ reserva.descProblema }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Fecha</span>
                      <span class="field-value">{{ reserva.fecha | date:'dd/MM/yyyy' }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Horario</span>
                      <span class="field-value">{{ reserva.horario }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Estado</span>
                      <span class="field-value">{{ reserva.estado }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Reserva ID</span>
                      <span class="field-value">{{ reserva.id }}</span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Cliente</span>
                      <span class="field-value">
                        {{ usuarioNombres[reserva.idUs!] || 'Cargando...' }}
                        <button *ngIf="reserva.idUs" (click)="irAlPerfil(reserva.idUs)" class="view-profile-btn">Ver Perfil</button>
                      </span>
                    </div>
                    <div class="reservation-field">
                      <span class="field-label">Trabajador</span>
                      <span class="field-value">
                        {{ trabajadorNombres[reserva.idTr!] || 'Cargando...' }}
                        <button *ngIf="reserva.idTr" (click)="irAlPerfil(reserva.idTr)" class="view-profile-btn">Ver Perfil</button>
                      </span>
                    </div>
                  </div>
                  <div class="actions">
                    <ng-container *ngIf="reserva.estado === 'finalizada' && !reserva.calificada; else botonesModificarEliminar">
                      <button class="accept-btn" (click)="abrirDialogoCalificacion(reserva)">Calificar</button>
                    </ng-container>
                    <ng-container *ngIf="reserva.estado === 'finalizada' && reserva.calificada">
                      <span class="calificada-badge">Reserva calificada</span>
                    </ng-container>
                    <ng-container *ngIf="reserva.estado === 'rechazada'">
                      <span class="rechazada-badge">Reserva rechazada</span>
                    </ng-container>
                    <ng-container *ngIf="reserva.estado === 'aceptada'">
                      <span class="calificada-badge">Reserva aceptada</span>
                    </ng-container>
                    <ng-template #botonesModificarEliminar>
                      <ng-container *ngIf="reserva.estado === 'pendiente'">
                        <button (click)="irAModificarReserva(reserva)" class="accept-btn">Modificar</button>
                        <button (click)="eliminarReserva(reserva.id!)" class="reject-btn">Eliminar</button>
                      </ng-container>
                    </ng-template>
                  </div>
                </li>
              }
            } @else {
              <p>No hay reservas con el estado seleccionado.</p>
            }



          </ul>
        </div>
      </div>
    }<!------------------------------------------------ FIN ROL ADMIN ----------------------------------------------------------------->

 </div>





    <!------------------------------------------------------------------------------------------------------>
    <!------------------------------- Pop-up de Calificación ------------------------------------------------>
    @if(!reservaSeleccionada?.calificada)
    {
            <!-- Popup de Calificación -->
      <div class="popup-overlay" *ngIf="mostrarPopup">
        <div class="popup-dialog">
          <h2 class="dialog-title">Calificar Reserva</h2>
          <form [formGroup]="calificacionForm" (ngSubmit)="enviarCalificacion()">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Calificación (1 a 10)</mat-label>
              <input matInput
                    type="number"
                    formControlName="calificacion"
                    min="1"
                    max="10" />
              <mat-error *ngIf="calificacionForm.get('calificacion')?.hasError('required')">
                La calificación es requerida
              </mat-error>
              <mat-error *ngIf="calificacionForm.get('calificacion')?.hasError('min') || calificacionForm.get('calificacion')?.hasError('max')">
                La calificación debe estar entre 1 y 10
              </mat-error>
            </mat-form-field>

            <div class="dialog-actions">
              <button type="button"
                      class="cancel-button"
                      (click)="cerrarPopup()">
                Cancelar
              </button>
              <button type="submit"
                      class="submit-button"
                      [disabled]="calificacionForm.invalid">
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    }
