<nav class="navbar">
    <div class="logo">
      <img src="/prueba/imagenes/logo.jpeg" alt="Logo">
      <span>Toolix</span>
    </div>
    <div class="nav-items">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a>
      <a routerLink="/nosotros">Nosotros</a>
    </div>
    <div class="auth-buttons">
      <button (click)="iniciarSesion()">Iniciar Sesión</button>
      <button (click)="registrarse()">Registrarse</button>
    </div>
  </nav>
  <div class="search-bar">
    <input type="text" placeholder="Buscar..." />
  </div>
