<nav class="navbar">
    <div class="logo">
      <a [routerLink]="['/homeAdmin', userId]">
        <span>Toolix</span>
      </a>
    </div>

    <div class="nav-items">
      <a [routerLink]="['/homeAdmin', userId]">Inicio</a>
      <a routerLink="/faq-admin">Preguntas frecuentes</a>
      <a routerLink="/nosotros-admin">Nosotros</a>
    </div>

    <!-- Notificaciones -->
  <!-- Íconos de perfil y notificaciones -->
  <div class="nav-icons">
    <a routerLink="/lista-reservas-admin" class="icon-link">
      <i class="fas fa-calendar-alt"></i>
    </a>
    <!-- Menú de perfil con eventos de hover -->
    <div class="dropdown">
      <a class="icon-link">
        <i class="fas fa-user"></i>
      </a>
      <div class="dropdown-menu">
        <a [routerLink]="['/perfil-propio-admin', userId]">Ver perfil</a>
        <a (click)="onLogout()">Cerrar sesión</a>
      </div>
    </div>
  </div>
  </nav>