<app-navbar-admin></app-navbar-admin>
<div class="center-container">
    <h2 class="title">Reservas</h2>
</div>

<div class="center-container">
    <div class="container">
        <div class="header"></div>
        <ul class="notification-list">
            <!-- Lista de reservas que el administrador puede modificar -->
            <li class="notification-item" *ngFor="let reserva of reservas">
                <p>Dirección: {{ reserva.direccion }}</p>
                <p>Fecha: <span>{{ reserva.fecha }}</span></p>
                <p>Horario: <span>{{ reserva.horario }}</span></p>
                <p>Reserva ID: {{ reserva.id }}</p>
                <div class="actions">
                    <!-- Botón para modificar la reserva -->
                    <button [routerLink]="['/modificar-reserva-admin', reserva.id]" class="accept-btn">Modificar</button>

                    <!-- Botón para eliminar la reserva -->
                    <button (click)="eliminarReserva(reserva.id)" class="reject-btn">Eliminar</button>
                </div>
            </li>
        </ul>
    </div>
</div>