<app-navbar-private></app-navbar-private>

<div class="centrar-contenedor">
<form [formGroup]="reservaForm" (ngSubmit)="addReserva()" class="reservaForm">
  <h3 class="reserva-form h3">REALIZAR RESERVA</h3>
   
  <div class="form-group">
    <label for="fecha" class="form-label">Fecha</label>
    <input 
      type="date" 
      id="fecha" 
      formControlName="fecha" 
      class="form-control"
      [min]="fechaMinima"
    >
    <div *ngIf="reservaForm.get('fecha')?.errors && reservaForm.get('fecha')?.touched" class="error">
      <div *ngIf="reservaForm.get('fecha')?.hasError('required')">
        La fecha es obligatoria.
      </div>
      <div *ngIf="reservaForm.get('fecha')?.hasError('fechaInvalida')">
        Debe seleccionar una fecha futura o presente.
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label for="horario" class="form-label">Horario</label>
    <input 
      type="time" 
      id="horario" 
      formControlName="horario" 
      class="form-control"
    >
    <div *ngIf="reservaForm.get('horario')?.errors && reservaForm.get('horario')?.touched" class="error">
      <div *ngIf="reservaForm.get('horario')?.hasError('required')">
        El horario es obligatorio.
      </div>
      <div *ngIf="reservaForm.get('horario')?.hasError('horarioPasado')">
        No puede seleccionar un horario anterior al actual.
      </div>
    </div>
  </div>
  
    <div class="form-group">
      <label for="direccion" class="form-label">Dirección</label>
      <input type="text" id="direccion" formControlName="direccion" class="form-control">
      <div class="error" *ngIf="reservaForm.get('direccion')?.hasError('required') && reservaForm.controls['direccion'].touched">La dirección es obligatoria.</div>
    </div>

    <div class="form-group">
      <label for="descProblema" class="form-label">Descripción del Problema</label>
      <input type="text" id="descProblema" formControlName="descProblema" class="form-control" (input)="actualizarContador() "maxlength="50">
      <div class="contador-caracteres">
        Quedan {{ caracteresRestantes }} caracteres.
      </div>
      <div class="error" *ngIf="reservaForm.get('descProblema')?.hasError('required') && reservaForm.controls['descProblema'].touched">
        La descripción del problema es obligatoria.
      </div>
    </div>
    
  
    <div class="form-buttons">

      <button (click)="addReserva()" [routerLink]="['/notificaciones']" class="submit-button" [disabled]="!reservaForm.valid">Aceptar</button>
       <button  [routerLink]="['/perfil-trabajador', trabajadorId]" type="button" class="cancel-button">Cancelar</button>
      
    </div>
  </form>
</div>