
/* Configura el body para ocupar toda la altura de la pantalla */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el body ocupe toda la altura de la pantalla */
  margin: 0;
  padding: 0;
}

/* Establece que el contenido ocupe el espacio restante */
.container {
  flex: 1;
  margin: 0;
  height: 100%;
}

.footer {
  background-color: #e9ecef;
  color: black;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

  .footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
  }

  .footer nav ul {
    list-style: none;

  }

  .footer a:hover {
    text-decoration: underline;
  }
